@{
	ViewBag.Title = "Home Page";
}
<div class="row">
	<div class="col-md-9">

		<p class="lead">
			Stephen Hawking famously threw a time traveler's champagne party on June 28, 2009.
			Invitations were sent out a day after the event took place. No one showed up. What
			if they just couldn't find safe landing coordinates? This application intends to supply
			safe arrival windows.
		</p>

		@*<div>
			<div id="loginToggle">Login</div>
			<form class="popup-form">
				<div>
					<label>Username</label>
					<input />
				</div>
				<div>
					<label>Password</label>
					<input type="password" />
				</div>
				<div>
					<input type="checkbox" />
					<label>Remember me?</label>
				</div>
				<div>
					<input type="submit" value="Login" />
				</div>
			</form>
		</div>*@
	</div>
	<div class="col-md-3">
		<p>This is a demo site to provide a coding example. &hellip;also, it's about time travel!</p>
	</div>
</div>

<div class="row">
	<div class="card"  style="width: 18rem;" aria-hidden="true">
		<img src="//via.placeholder.com/200x200" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title placeholder-glow">
				<span class="placeholder col-6"></span>
			</h5>
			<p class="card-text placeholder-glow">
				<span class="placeholder col-7"></span>
				<span class="placeholder col-4"></span>
				<span class="placeholder col-4"></span>
				<span class="placeholder col-6"></span>
				<span class="placeholder col-8"></span>
			</p>
			<a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6"></a>
		</div>
	</div>
	
	<div class="card"  style="width: 18rem;" aria-hidden="true">
		<img src="//via.placeholder.com/200x200" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title placeholder-glow">
				<span class="placeholder col-6"></span>
			</h5>
			<p class="card-text placeholder-glow">
				<span class="placeholder col-7"></span>
				<span class="placeholder col-4"></span>
				<span class="placeholder col-4"></span>
				<span class="placeholder col-6"></span>
				<span class="placeholder col-8"></span>
			</p>
			<a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6"></a>
		</div>
	</div>
	
	<div class="card"  style="width: 18rem;" aria-hidden="true">
		<img src="//via.placeholder.com/200x200" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title placeholder-glow">
				<span class="placeholder col-6"></span>
			</h5>
			<p class="card-text placeholder-glow">
				<span class="placeholder col-7"></span>
				<span class="placeholder col-4"></span>
				<span class="placeholder col-4"></span>
				<span class="placeholder col-6"></span>
				<span class="placeholder col-8"></span>
			</p>
			<a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6"></a>
		</div>
	</div>
</div>